@import '@/styles/_variables.scss';

.lang_select {
  font-size: 16px;
  font-weight: 700;
  color: $text-color;
  border: 2px solid $text-color;
  border-radius: 4px;
  background-color: $white;
}

.lang_select:focus {
  border-color: $text-color;
  color: $text-color;
  outline: none;
}