.image__slider__container{
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
}

.image__slider__container .slick-dots{
    bottom: 20px;
}

.image__slider__container .slick-prev{
    left: 0;
    z-index: 1;
}

.image__slider__container .slick-next{
    right: 0;
    z-index: 1;
}

.dots {
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
    padding: 10px 0 0 0;
}

.dots div {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
}

.dots button {
    border: none;
    background: rgba(255, 99, 0, 0.8);
    color: transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
}

.dots div .slick-active button {
    background-color: rgb(0, 0, 0);
}

.dots div button:hover,
.dots div button:focus {
    background: rgba(247, 34, 34, 0.8);
    outline: 0;
}


@media (max-width:600px){
    .image__slider__container{
        max-width: 100vw;
    }
}