.cards-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 500px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    margin: 20px;
    background-color: #fcf8f0;
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    height: 100%;
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    margin: 0;
}

.card-price {
    font-size: 1.1rem;
    color: #b83806;
    margin: 0;
}