.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 20px;
  max-width: 1624px;
  margin: 0 auto;
}

.logo {
  width: 169px;
  height: 68px;
  cursor: pointer;
  flex: 1;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav {
  display: flex;
}
.menu {
  display: flex;
  gap: 20px;
  list-style: none;

  &_item {
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    padding-bottom: 5px;
    color: #5A3733;

    &:hover {
      color: #FF8F31;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: transparent;
      transition: background-color 0.3s;
    }

    &:hover::after {
      background-color: #FF8F31;
    }

    &.active::after {
      background-color: #FF8F31;
    }
  }
}

.contact {
  padding-left: 25px;
  color: #5A3733;
  font-size: 16px;
  font-weight: 700;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: url("./../../../assets/images/phone.png") no-repeat center;
  }
}

.basket {
  position: relative;
  padding: 0 54px 25px 20px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10.5px;
    height: 37px;
    width: 30px;
    background: url("./../../../assets/images/basket.svg") no-repeat center;
  }

  &_item {
    position: relative;
    width: 21px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #FF8F31;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    z-index: 1;
  }

}



