@use 'mixin' as mix;
.adminNav {
  display: flex;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 20px 15px 16px;
  padding: 16px 20px;
  box-shadow: 0 0 2px 0 rgba(90, 55, 51, 0.25);
  align-items: center;

  h3 {
    font-weight: 500;
    font-size: 25px;
    margin: 0 37px 0 0;
  }

  select {
    font-family: 'Montserrat', sans-serif;
    padding: 11px;
    font-size: 13px;
    color: #5a3733;
    font-weight: 400;
    letter-spacing: 0.25px;
    border: 0.5px solid #5a3733;
    border-radius: 4px;
    background-color: #fff;
    width: 265px;
    margin: 0 21px 0 0;
  }

  select:focus-visible {
    border: 2px solid #5a3733;
    outline: none;
  }

  option {
    padding: 8px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
  }

  option:active {
    background-color: #5a3733;
    color: #333;
  }

  option:hover {
    padding: 8px;
    background-color: #f0f0f0;
    @include mix.sm {
      background-color: inherit;
      color: inherit;
    }
  }

  input {
    width: 250px;
    background: #ffffff url('../assets/images/findIcon.svg') no-repeat center right 10px;
    height: 40px;
    padding: 8px 40px 8px 10px;
    border: 0.5px solid #5a3733;
    border-radius: 4px;
    margin: 0 67px 0 0;
  }

  input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
    font-size: 13px;
    color: #5a3733;
  }

  input:focus-visible {
    border: 2px solid #5a3733;
    outline: none;
  }

  .adminNavPagination {
    white-space: nowrap;
    display: flex;
    margin: 0;
    font-size: 14px;

    .arrowToLeft {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: url('../assets/images/arrowToLeft.svg') no-repeat center;
    }

    .arrowToRight {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: url('../assets/images/arrowToRight.svg') no-repeat center;
    }

    p {
      margin: 5px 5px 0;
    }
  }

  .addAdminNavBtn {
    position: relative;
    margin: 0 0 0 auto;
    background-color: #5a3733;
    color: #ffffff;
    height: 40px;
    padding: 0 25px;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 2px 0 rgba(90, 55, 51, 0.25);

    img {
      position: absolute;
      top: 13px;
      left: 9px;
      width: auto;
    }
  }
}
