@use 'mixin' as mix;
.container {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .empty {
    text-align: center;
    padding: 150px 0;
    font-size: 20px;
  }

  .title {
    color: #5a3733;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 28px;
  }
  .cardList {
    align-self: center;
    width: 600px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    .card {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px 10px;
      margin: 8px 0;
      cursor: pointer;
      &:hover {
        padding: 24px 10px;
        margin: 3px 0;
        background-color: rgba(255, 165, 0, 0.53);
        border: 1px solid orange;
      }
      &:active {
        background-color: rgba(168, 110, 0, 0.53);
      }

      span {
        display: inline-block;
        margin-right: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      span.user {
        width: 120px;
        font-weight: bold;
        font-size: 20px;
        align-self: flex-end;
      }

      span.kits {
        width: 100px;
        font-size: 18px;
      }

      span.dateTime {
        font-size: 16px;
        width: 130px;
        color: #666;
      }
    }
  }
  .more {
    text-align: center;
    padding: 15px;
    font-weight: bolder;
    span {
      cursor: pointer;
      &:hover {
        color: orange;
      }
      &:active {
        color: #916000;
      }
    }
  }
}
