@use 'mixin' as mix;

.advantages {
  background: url('../assets/images/back-honney.png') no-repeat top center;
  padding-top: 11%;
  margin-top: 5%;
  background-size: contain;
  &_item {
    text-align: center;
    padding: 17px 0 100px 0;
    background: #FDD431;
    text-transform: uppercase;
    &_title {
      text-align: center;
      color: #5A3733;
      font-size: 40px;
      font-weight: 800;
      @include mix.xl {
        font-size: 40px;
      }
      @include mix.lg {
        font-size: 35px;
      }
      @include mix.md {
        font-size: 30px;
      }
      @include mix.sm {
        font-size: 22px;
        margin: 0 25px;
      }
    }
    &_cards {
      margin: 51px 5px 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @include mix.sm {
        flex-wrap: wrap;
        margin: 35px 0 0;
      }
      .points {
        display: flex;
      }
      &_card {
        margin: 0 21px 60px 0;
        width: 370px;
        color: #5A3733;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        @include mix.xxl {
          margin: 0 0 60px 0;
        }
        @include mix.xl {
          width: 300px;
          font-size: 20px;
        }
        @include mix.lg {
          width: 250px;
          font-size: 18px;
        }
        @include mix.md {
          font-size: 16px;
          margin-bottom: 60px;
        }
        @include mix.sm {
          font-size: 19px;
          margin-bottom: 60px;
        }
        img {
          width: 272px;
          height: 272px;
          margin-bottom: 27px;
          @include mix.xl {
            width: 202px;
            height: 202px;
          }
          @include mix.lg {
            width: 172px;
            height: 172px;
            margin-bottom: 18px;
          }
          @include mix.sm {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
          }
        }
      }
    }
    &_btn {
      color: #FFF;
      font-size: 20px;
      font-weight: 700;
      border-radius: 19px;
      background: #FF8F31;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      padding: 27px;
      margin-top: 20px;
      border: none;
      @include mix.xl {
        font-size: 26px;
        padding: 20px;
        margin-top: 20px;
      }
      @include mix.lg {
        font-size: 24px;
        padding: 18px;
        margin-top: 29px;
      }
    }
    span {
      display: inline-block;
      margin: 124px 10px 0;
      background: #5A3733;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      @include mix.xxl {
        width: 21px;
        height: 21px;
      }
      @include mix.xl {
        width: 17px;
        height: 17px;
        margin: 100px 8px 0;
      }
      @include mix.lg {
        width: 15px;
        height: 15px;
        margin: 68px 6px 0;
      }
      @include mix.md {
        display: none;
      }
    }
  }
}
