@use 'mixin' as mix;
@import "variables";

.bestseller {
  text-transform: uppercase;
  background: #FCF8F5;
  padding-bottom: 43px;
  @include mix.xxl {
    padding-bottom: 0;
  }
  button {
    border: none;
  }
  &_container {
    max-width: 1624px;
    margin: 0 auto;
  }
  &_btns {
    margin: 114px 0 63px;
    text-align: center;
    @include mix.lg {
      margin: 74px 0 53px;
    }
  }
  &_btn {
    border-radius: 16px;
    background: $white;
    box-shadow: 0 4px 4px 0 rgba($black, 0.25);
    padding: 16px 32px;
    color: $text-color;
    font-size: 18px;
    font-weight: 600;
    margin: 0 20px;
    //@include mix.lg {
    //  padding: 8px 18px;
    //  font-size: 30px;
    //}
    //@include mix.sm {
    //  padding: 9px 20px;
    //  font-size: 27px;
    //  margin: 0 15px 0;
    //}
    //@include mix.xs {
    //  font-size: 24px;
    //}

    &:hover {
      background: rgba($text-color, 0.05);
    }

    &_active {
      background: $primary;
      color: $white;

      &:hover {
        background: $primary;
      }
    }
  }
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: $text-color;
  margin-bottom: 60px;
}
