@use 'mixin' as mix;
@import "variables";

.bestseller {
  padding: 40px;
  text-transform: uppercase;

  button {
    border: none;
  }

  &_title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 40px;

    @include mix.md {
      margin-bottom: 30px;
      font-size: 30px;
    }

    @include mix.sm {
      margin-bottom: 25px;
      font-size: 25px;
    }
  }
  &_btns {
    margin: 40px 0 65px;
    text-align: center;
    @include mix.lg {
      margin: 0 0 53px;
    }
  }
  &_btn {
    border-radius: 7px;
    background: $white;
    box-shadow: 0 4px 4px 0 rgba($black, 0.25);
    padding: 10px 32px;
    color: $text-color;
    font-size: 18px;
    font-weight: 600;
    margin: 0 20px 20px;
    @include mix.lg {
      padding: 8px 18px;
    }
    @include mix.sm {
      padding: 7px 15px;
      margin: 0;
    }
    @include mix.xs {
    }

    &:hover {
      background: rgba($text-color, 0.05);
    }

    &_active {
      background: $text-color;
      color: $white;

      &:hover {
        background: $text-color;
      }
    }
  }
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: $text-color;
  margin-bottom: 60px;
}
