.categories_page {
  padding: 0 28px 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 20px 0 14px;
    color: #5a3733;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &_inner {
    width: 700px;
    margin: 0 auto 0 0;
    padding: 0 0 10px;
    box-sizing: border-box;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(90, 55, 51, 0.25);
    overflow: hidden;

    &_table {
      border-collapse: collapse;

      thead {
        th {
          padding: 20px 0 10px;
          border-bottom: 1px solid rgba(90, 55, 51, 0.11);

          p {
            color: #5a3733;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            margin: 0;
          }
        }

        th:nth-child(1) {
          width: 202px;
          text-align: left;
          padding-left: 11px;
          box-sizing: border-box;
        }

        th:nth-child(2) {
          width: 222px;
          text-align: left;
          padding-left: 20px;
        }

        th:nth-child(3) {
          width: 150px;
          text-align: center;
        }

        th:nth-child(4) {
          width: 126px;
          text-align: right;
          padding-right: 9px;
          box-sizing: border-box;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid rgba(90, 55, 51, 0.11);

          td {
            img {
              border-radius: 15px;
              border: 1px solid rgba(90, 55, 51, 0.11);
              width: 209px;
              height: 132px;
            }

            p {
              color: #5a3733;
              font-size: 17px;
              font-style: normal;
              font-weight: 500;
              line-height: 21px;
              letter-spacing: 0.25px;
              padding-left: 20px;
              text-align: left;
            }

            button {
              width: 80%;
              border-radius: 8px;
              font-size: 13px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              padding: 8px 0;
              border: none;
              outline: none;
              transition: 0.3s;
              margin: 0 0 0 15px;
            }

            span {
              width: 37px;
              height: 35px;
              border-radius: 6px;
              border: 1px solid #5a3733;
              display: block;
              background-image: url('../assets/images/edit-icon.png');
              background-position: center;
              background-repeat: no-repeat;
              transition: 0.3s;
            }
          }

          td:nth-child(1) {
            padding: 16px 0 25px 11px;
          }

          td:nth-child(4) {
            padding-left: 53px;
          }
        }
      }
    }
  }
}
