@import "./variables";
@import './mixin';

.contacts {
  padding: 30px 0;

  &_title {
    text-transform: uppercase;
    margin-bottom: 50px;

    @include lg {
      margin-bottom: 20px;
    }

    @include md {
      text-align: center;
      font-size: 28px;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    //align-items: center;

    @include md {
      flex-wrap: wrap;
    }
  }

  .col_50 {
    width: 50%;
    @include lg {
      width: 100%;
    }
  }

  &_media {
    width: 70%;
    border-radius: 10px;
    margin: 0 0 80px 80px;
    display: flex;
    box-shadow: 5px 5px 30px rgba($text-color, 0.1);
    justify-content: center;
    align-items: center;

    @include lg {
      margin: 0 auto 20px;
    }

    @include md {
      width: 96%;
    }

    img {
      max-width: 100%;
      width: 100%;
      max-height: 460px;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &_info {
    &_title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 10px;
      color: $text-color;
    }

    &_svg_wrap {
      text-align: center;
      margin-bottom: 30px;
    }

    &_marker {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 22px;

      @include md {
        justify-content: center;
      }
    }
  }

  &_contact {
    margin-left: 10px;
    font-weight: bold;

    &:hover {
      color: $primary;
    }
  }
}
