@use 'mixin' as mix;

.createCategory {
  background-color: #fcf8f5;
  padding: 0 28px 60px;

  h2 {
    margin: 20px 0 14px;
    color: #5a3733;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &_form {
    max-width: 500px;
    margin: 0 auto 0 0;
    padding: 20px 45px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(90, 55, 51, 0.25);

    button {
      margin: 15px auto 0 auto;
      font-size: 20px;
      padding: 10px 20px;
      border: none;
      background-color: rgba(39, 174, 96, 0.2);
      color: #27ae60;
      transition: 0.3s;
      border-radius: 8px;
      line-height: normal;
      outline: none;
    }

    button:hover {
      transform: scale(1.1);
      @include mix.sm {
        transform: none;
      }
    }
  }

  &_input {
    margin-bottom: 17px;
    border: none;
    border-bottom: 2px solid rgba(90, 55, 51, 0.28);
    outline: none;
    font-size: 20px;
    position: relative;
    padding: 10px 0 5px;
    box-sizing: border-box;
    color: rgb(90, 55, 51);
    background: none;
    transition: 0.3s;

    &::placeholder {
      margin: -15px 0 0 -15px;
      transition: 0.2s;
      position: absolute;
      top: 20px;
      left: 15px;
      color: rgba(90, 55, 51, 0.28);
    }

    &:hover {
      border-bottom-color: #5a3733;
    }

    &:focus {
      border-bottom-color: #5a3733;
    }

    &:hover::placeholder {
      margin: -15px 0 0 -15px;
      position: absolute;
      top: 13px;
      left: 15px;
      font-size: 12px;
      color: #5a3733;
    }

    &:focus::placeholder {
      margin: -15px 0 0 -15px;
      position: absolute;
      top: 13px;
      left: 15px;
      font-size: 12px;
      color: #5a3733;
    }
  }

  &_fileInput {
    width: 100%;
    height: 0;
  }

  &_fileInputLabel {
    height: 320px;
    width: 320px;
    text-align: center;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    color: rgba(90, 55, 51, 0.25);
    box-shadow: 0 0 2px 1px rgba(90, 55, 51, 0.25);
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      box-shadow: 0 0 3px 3px #5a3733;
      color: #5a3733;
      @include mix.sm {
        box-shadow: none;
        color: inherit;
      }
    }

    span {
      width: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.langSpan {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  padding: 6px;
  font-size: 14px;
  color: #5a3733;
  font-weight: 600;
  letter-spacing: 0.25px;
  border: 2.5px solid #5a3733;
  border-radius: 4px;
  background-color: #fff;
}

.field_error {
  color: red;
  margin: -16px 0 0 0;
  font-size: 12px;
  font-weight: 700;
  text-align: right;
  display: block;
}
