.input {
  width: 486px;
  height: 49px;
  border-radius: 4px;
  background: rgba(90, 55, 51, 0.11);
  border: none;
  padding: 15px 0 14px 29px;
  color: #5a3733;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.btnFile {
  width: 165px;
  height: 49px;
  border-radius: 4px;
  background: #5a3733;
  border: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
