@use 'mixin' as mix;

.footer {
  padding-bottom: 23px;
  position: relative;

  .logo_block {
    background-color: #d3a863;
    border-radius: 50%;
  }

  .flower_left {
    position: absolute;
    top: -39px;
    left: -278px;
    z-index: 0;
    width: 380px;
    height: 317px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/images/flowers.png');
    @include mix.xl {
      top: auto;
      left: -239px;
      z-index: 0;
      width: 380px;
      height: 100%;
    }
    @include mix.sm {
      left: -317px;
      width: 420px;
    }
  }
  .flower_right {
    position: absolute;
    top: -156px;
    right: -216px;
    z-index: 0;
    width: 548px;
    height: 434px;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url('../assets/images/flowers.png');
    @include mix.xl {
      top: -105px;
      right: -216px;
      z-index: 0;
      width: 554px;
      height: -webkit-fill-available;
    }
    @include mix.md {
      top: -105px;
      right: -209px;
      z-index: 0;
      width: 494px;
    }
    @include mix.sm {
      display: none;
    }
  }
  &_inner {
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 36px 26px 15px;
    @include mix.sm {
      justify-content: space-between;
    }

    &_logo {
      width: 163px;
      height: 152px;
      flex-shrink: 0;
      cursor: pointer;
      background-color: #d3a863;
      border-radius: 65%;
      display: block;
      position: absolute;
      bottom: 74%;
      left: 50%;
      transform: translateX(-50%);
      @include mix.md {
        bottom: 73%;
      }
      @include mix.md2 {
        width: 154px;
        height: 144px;
        bottom: 70%;
      }
      @include mix.sm {
        bottom: 78%;
      }
      @include mix.xs {
        bottom: 79%;
      }
      img {
        position: absolute;
        bottom: 83px;
        left: 9%;
        width: 126px;
        height: 46px;
        @include mix.md2 {
          bottom: 87px;
          left: 9%;
          width: 116px;
          height: 37px;
        }
        @include mix.xs {
          bottom: 95px;
          left: 10%;
          width: 112px;
          height: 34px;
        }
      }
    }

    &_box_links {
      display: flex;
      flex-direction: column;
      &:nth-child(4) {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
      &:nth-child(5) {
        @include mix.xl {
          margin: 0 56px 10px auto;
        }
        @include mix.md {
          margin: 0 5px 10px;
        }
        @include mix.sm {
          margin: 0 41px 10px;
        }
      }
      @include mix.xl {
        margin: 0 5px 10px;
      }
      @include mix.sm {
        margin: 0 41px 10px;
      }

      h3 {
        color: #000000;
        margin: 0;
        font-size: 20px;
        font-style: normal;
        text-transform: uppercase;
        font-weight: bold;
        line-height: normal;
        @include mix.lg {
          font-size: 16px;
        }
        @include mix.md {
          font-size: 14px;
        }
      }

      a {
        color: #000000;
        margin: 14px 0 0;
        font-feature-settings:
          'clig' off,
          'liga' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        transition: 0.2s;
        @include mix.lg {
          font-size: 14px;
        }
        @include mix.md {
          font-size: 12px;
        }
      }

      a:hover {
        color: #ffb931;
        @include mix.sm {
          color: inherit;
        }
      }

      span {
        color: #ffffff;
        margin: 14px 0 0;
        font-feature-settings:
          'clig' off,
          'liga' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        transition: 0.2s;
        padding-left: 27px;
        position: relative;
        @include mix.md {
          font-size: 15px;
        }
        svg {
          position: absolute;
          left: 0;
          top: 0;
          width: 15px;
          height: 15px;
          transition: 0.1s;
        }
      }

      &_icons {
        display: flex;
        margin: 0 auto;
        align-items: center;

        a {
          background-color: #ffb606;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.2s;
          text-align: center;
          display: flex;
          margin: 0 10px;
          @include mix.md {
            width: 32px;
            height: 32px;
          }

          svg {
            margin: auto 0;
            color: #ffffff;
            width: 60%;
            height: 60%;
            @include mix.md {
              width: auto;
              height: auto;
            }
          }
        }

        a:hover svg {
          fill: #ffffff;
        }

        path {
          fill: currentColor !important;
        }
      }
    }
  }

  &_reserved_text {
    color: #000000;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    margin: 24px 0 0;
    font-style: normal;
    line-height: normal;
  }
}
