@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@400;500;600;700&display=swap');
@import '@/styles/_variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
  overflow-x: clip;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  background-color: $bg-main;
  font-size: $main-font-size;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

a,
button,
select {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#nprogress .spinner {
  display: none !important;
}
