@use 'mixin' as mix;
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 0;
  max-width: 1624px;
  margin: 10px auto 0;
  position: relative;
  background: #FCF8F5;
  border-radius: 0 0 20px 20px;
}

.logo {
  width: 159px;
  height: 58px;
  cursor: pointer;
  flex: 1;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 30px;
  @include mix.xxl {
    padding-right: 50px;
    gap: 40px;
  }
  @include mix.md {
    padding-right: 30px;
  }
  @include mix.md2 {
    padding-right: 40px;
  }
}

.nav {
  display: flex;
  @include mix.xxl {
    display: none;
  }
}
.menu {
  display: flex;
  gap: 20px;
  list-style: none;

  &_item {
    cursor: pointer;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    padding-bottom: 5px;
    color: #5A3733;

    &:hover {
      color: #FF8F31;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: transparent;
      transition: background-color 0.3s;
    }

    &:hover::after {
      background-color: #FF8F31;
    }

    &.active::after {
      background-color: #FF8F31;
    }
  }
}

.multilingualOne {
  @include mix.md {
    display: none;
  }
}

.contact {
  padding-left: 25px;
  color: #5A3733;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  @include mix.md2 {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: url("../assets/images/phone.png") no-repeat center;
  }
}

.basket {
  position: relative;
  padding: 0 54px 25px 20px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    height: 37px;
    width: 30px;
    background: url("../assets/images/basket.svg") no-repeat center;
  }

  &_item {
    position: relative;
    width: 21px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #FF8F31;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    z-index: 1;
  }
}

.hamburger_menu {
  &_show {

    .menu__box {
      visibility: visible;
      left: 0;
      height: auto;
      padding: 20px 0;
    }
    .menu__btn > span {
      transform: rotate(45deg);
      &::before {
        top: 0;
        transform: rotate(0);
      }
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }
}

.menu__btn {
  display: none;
  background: none;
  border: none;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 40px;
  width: 38px;
  height: 38px;
  cursor: pointer;
  z-index: 1;
  @include mix.xxl {
    display: flex;
  }
  span,
  span::before,
  span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #616161;
    transition-duration: .25s;
  }
  span {
    &::before {
      content: '';
      top: -10px;
    }
    &::after {
      content: '';
      top: 10px;
    }
  }
}

.menu__box {
  overflow: hidden;
  display: none;
  visibility: hidden;
  height: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  @include mix.xxl {
    display: block;
  }
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  &:hover {
    background-color: #CFD8DC;
  }
}
.multilingualTwo {
  padding: 12px 24px;
  display: none;
  @include mix.md {
    display: block;
  }
}
