.opener {
  display: flex;
  max-width: 1624px;
  margin: 0 auto;
  &_item {
    text-transform: uppercase;
    width: 760px;
    padding-left: 33px;
    &_title {
      color: #5a3733;
      margin-top: 160px;
      font-size: 60px;
      font-weight: 700;
    }
    &_content {
      color: #5a3733;
      margin-top: 60px;
      font-size: 30px;
      font-weight: 600;
    }
    &_btn {
      color: #fff;
      font-size: 36px;
      font-weight: 900;
      margin-top: 75px;
      padding: 33px 85px;
      border-radius: 45px;
      border: none;
      background: #ff8f31;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }
}
