.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.background_header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

.background_footer {
  background-color: #D3A863;
}