@use 'mixin' as mix;

.mission {
  max-width: 1320px;
  height: 450px;
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @include mix.sm {
    margin-bottom: 180px;
  }

  @include mix.xs {
    margin-bottom: 170px;
    margin-top: 70px;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #5a3733;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 48px;
    @include mix.lm {
      font-size: 28px;
      margin: 14px 0 8px;
    }
    @include mix.sm {
      font-size: 25px;
    }
    @include mix.xs {
      font-size: 20px;
    }
  }

  &_inner {
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
    border-radius: 40px;

    @include mix.md {
      flex-direction: column;
    }

    .mission_video {
      display: flex;
      justify-content: center;
      width: 75%;
      max-height: 450px;
      min-height: 280px;

      @include mix.md {
        width: 100%;
      }

      .youtubePreviewContainer {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: 320px;
        max-width: 680px;
        margin: 0 auto;
        border-radius: 10px;

        .youtubePlayerPreview {
          width: 100%;
          height: 100%;
          //padding-bottom: 56.25%; /* 16:9 соотношение сторон */
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 10px;
        }
      }
    }

    .mission_article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      width: 40%;
      align-items: center;
      margin-left: 10px;

      @include mix.md {
        width: 100%;
        margin-left: 0;
      }

      .mission_texts {
        display: flex;
        align-self: start;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        color: #5a3733;

        @include mix.xl {
          font-size: 16px;
        }
        @include mix.lg {
          font-size: 14px;
        }
        @include mix.lm {
          font-size: 13px;
        }
        @include mix.md {
          margin-top: 5px;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}

.youtubePreviewContainer {
  position: relative;
  width: 685px;
  height: 403px;
  margin: auto;
}

.youtubePlayerPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/video.jpg');
  background-size: cover;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.playButton {
  position: relative;
  z-index: 3;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  cursor: pointer;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid #d3a863;
    cursor: pointer;
  }
}

.playButton:hover {
  background-color: #5a3733;
  &:before {
    border-left: 30px solid white;
  }
}

.youtubePlayerPreview iframe {
  z-index: 1;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .playButton {
    width: 48px;
    height: 48px;
  }
  .playButton::before {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #d3a863;
  }
  .playButton:hover {
    &:before {
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 15px solid white;
    }
  }
}
