.modalEdit {
  background-color: rgba(125, 125, 125, 0.35);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &_form {
    border: 2px solid #7d7d7d;
    margin: 15px auto 0;
    background-color: #ffffff;
    border-radius: 21px;
    position: relative;
    max-width: 800px;
    padding: 15px 45px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px #7d7d7d;

    h2 {
      color: #5a3733;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-align: center;
      margin: 10px 0;
    }

    button {
      width: 180px;
      margin: 20px auto 0 auto;
      font-size: 20px;
      padding: 8px 12px;
      border: none;
      background-color: rgba(39, 174, 96, 0.2);
      color: #27ae60;
      transition: 0.3s;
      border-radius: 8px;
      line-height: normal;
      outline: none;
    }

    button:hover {
      transform: scale(1.1);
    }
  }

  &_closeButton {
    border: 2px solid #27ae60;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 0 21px 0 21px;
    background-image: url('../assets/images/modal-close-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 2px #27ae60;

    &:hover {
      background-color: rgba(39, 174, 96, 0.2);
    }
  }

  &_imagesBlock {
    display: flex;
    flex-wrap: nowrap;
    padding: 30px 75px 10px;
    position: relative;

    img {
      height: 260px;
      width: 260px;
      box-shadow: 0 0 3px 3px #27ae60;
      border-radius: 8px;
      position: relative;
      margin: 0 auto;
    }

    &::after {
      content: 'Используемое изображение';
      position: absolute;
      color: #27ae60;
      font-size: 16px;
      font-weight: 700;
      top: 0;
      left: 71px;
    }
  }

  &_input {
    width: 80%;
    margin: 0 0 17px 0;
    border: none;
    border-bottom: 2px solid rgba(90, 55, 51, 0.28);
    outline: none;
    font-size: 20px;
    position: relative;
    padding: 10px 0 5px;
    box-sizing: border-box;
    color: rgb(90, 55, 51);
    background: none;
    transition: 0.3s;

    &::placeholder {
      margin: -15px 0 0 -15px;
      transition: 0.2s;
      position: absolute;
      top: 20px;
      left: 15px;
      color: rgba(90, 55, 51, 0.28);
    }

    &:hover {
      border-bottom-color: #5a3733;
    }

    &:focus {
      border-bottom-color: #5a3733;
    }

    &:hover::placeholder {
      margin: -15px 0 0 -15px;
      position: absolute;
      top: 13px;
      left: 15px;
      font-size: 12px;
      color: #5a3733;
    }

    &:focus::placeholder {
      margin: -15px 0 0 -15px;
      position: absolute;
      top: 13px;
      left: 15px;
      font-size: 12px;
      color: #5a3733;
    }
  }

  &_fileInput {
    width: 320px;
    height: 0;
  }

  &_fileInputLabel {
    height: 260px;
    min-width: 260px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    color: rgba(90, 55, 51, 0.25);
    box-shadow: 0 0 2px 1px rgba(90, 55, 51, 0.25);
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      box-shadow: 0 0 3px 3px #5a3733;
    }

    span {
      width: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.langSpan {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  padding: 6px;
  font-size: 14px;
  color: #5a3733;
  font-weight: 600;
  letter-spacing: 0.25px;
  border: 2.5px solid #5a3733;
  border-radius: 4px;
  background-color: #fff;
}

.field_error {
  color: red;
  margin: -16px 0 0 0;
  font-size: 12px;
  font-weight: 700;
  text-align: right;
  display: block;
}
