@use 'mixin' as mix;
$circle-size: 40px;
$inner-circle-size: 50px;
$inner-circle-color: white;

.pagination_block {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
  padding-left: 320px;
  @include mix.md2 {
    padding-left: 0;
  }

  .pagination_inner {
    display: flex;
    justify-content: space-between;
    max-width: 460px;
    width: 70%;
    align-items: center;
    align-self: center;
    @include mix.md {
      width: 90%;
    }

    .circle_transparent {
      width: $circle-size;
      height: $circle-size;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      color: transparent;
    }

    .span_text {
      font-size: 50px;
    }

    .previous,
    .next {
      display: inline-block;
      color: white;
      font-weight: bold;
      font-size: 50px;
      line-height: 32px;
      text-align: center;
      width: $circle-size;
      height: $circle-size;
      background-color: #d3a863;
      border-radius: 50%;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #ffb931;
        @include mix.sm {
          background-color: #d3a863;
        }
      }
      &:active {
        background-color: #d3a863;
        color: white;
      }
    }

    .span_text {
      color: transparent;
    }

    .circle {
      width: 80px;
      height: 80px;
      background-color: #d3a863;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: bold;
      color: $inner-circle-color;

      .inner-circle {
        width: $inner-circle-size;
        height: $inner-circle-size;
        background-color: #e74c3c;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
