@use 'mixin' as mix;

$color-text: #5A3733;
$color-card-bg: #FFFFFF;
$color-card-border: #e2e2e2;
$color-icon-price: #FF8F31;

.container {
  display: flex;
  @include mix.md2 {
    flex-direction: column;
  }
}

.box {
  margin: 0 auto 0 240px;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: $color-text;
  margin-bottom: 60px;
}

.content {
  position: relative;
  margin-bottom: 20px;
}

.titleBnr {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin: 20px auto 15px 40px;
  color: $color-text;
  text-transform: uppercase;
  @include mix.md2 {
    text-align: center;
    margin: 30px auto;
  }
}

.bnr {
  max-width: 1100px;
  //margin-left: 40px;
  margin-top: 15px;
}

.card_block {
  margin-bottom: 20px;
  //box-shadow: 0 6px 6px 0 #00000060;
  //border-radius: 39px;
}

.btn_block {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 375px;
  margin: 0 10px;
}

.card_block:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 6px 0 #00000060;
  border-radius: 39px;
}

.btn_block {
  margin-top: auto;
  background: $color-icon-price;
  border-radius: 0 0 35px 35px;
}

.btn_prod {
  display: inline-block;
  padding: 16px 34px;
  border-radius: 0 0 12px 12px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: .3s;

  &:hover {
    background: $color-text;
    border-radius: 0 0 35px 35px;
    color: white;
  }

  &:active {
    transform: scale(0.95);
  }
}

.imgContainer {
  border-radius: 39px;
  overflow: hidden;
  width: 295px;
  height: auto;
  transition: all 0.3s;
  position: relative;
  padding-top: 12px;

  .cardImg {
    width: 280px;
    height: 340px;
    margin: 0 auto;
  }
}

//.imgContainer:hover {
//  transform: scale(1.03);
//  box-shadow: 0 6px 6px 0 #00000060;
//}

.cartIcon {
  width: 55px;
  height: 55px;
  background-color: $color-icon-price;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 8px;
  right: 9px;

  img {
    padding: 12px 0 0 8px;
  }
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  text-align: center;
  text-transform: uppercase;

  .title {
    font-size: 16px;
    line-height: 23.48px;
    margin: 0;
  }

  .price {
    font-size: 19px;
    color: $color-icon-price;
    margin: 0;
    font-weight: bold;
  }
}



