@use 'mixin' as mix;

$color-link: #5B5858;
$color-title: #FF8F31;

.sideBar {
  min-width: 220px;
  margin: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;

  @include mix.md2 {
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 2px solid $color-title;
  }

  &_title {
    margin: 0;
    color: $color-title;
    font-size: 23px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;

    @include mix.md2 {
      text-align: center;
    }

    @include mix.xs {
      font-size: 22px;
    }
  }

  &_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-link;
    margin-top: 27px;
    padding: 5px 5px 5px 0;

    a {
      margin: 22px 0 0;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30.01px;
      color: $color-link;
      display: inline-block;
      white-space: normal;
      transition: 0.2s;

      &:hover {
        color: $color-title;
      }

      @include mix.md2 {
        text-align: center;
      }

      @include mix.xs {
        font-size: 24px;
      }
    }

    @include mix.md2 {
      text-align: center;
      border: none;
      padding: 0;
    }
  }

  .category_item {
    color: rgba(90, 55, 51, 0.84);
  }
}
