@import 'variables';
@import 'mixin';

.history {
  padding: 30px 0 70px;
  margin-bottom: 20px;

  &_mainTitle {
    font-size: 24px;
    color: $text-color;
    margin-bottom: 20px;
    @include lm {
      text-align: center;
    }

    @include sm {
      font-size: 22px;
      margin-bottom: 10px;
    }

    @include xs {
      font-size: 20px;
    }
  }

  &_noOrders {
    padding: 100px 0;
  }

  &_title {
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;

    @include sm {
      font-size: 18px;
      //text-align: left;
    }
  }

  &_return {
    color: $primary;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    text-decoration-line: underline;

    &:hover {
      text-decoration: none;
      @include sm {
        text-decoration: auto;
      }
    }
  }
}

.historyTable {
  max-width: 1170px;
  background-color: $white;
  box-shadow: 0 0 2px 0 rgba(90, 55, 51, 0.25);
  border-radius: 17px;
  padding: 10px 0;
  margin-bottom: 50px;

  @include lm {
    display: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    height: 200px;
  }

  tr:nth-child(even) {
    background-color: #f3efef;
  }

  th,
  td {
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  th {
    font-size: 15px;
    padding: 8px;
  }

  &_body {
    td {
      padding: 5px;
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.list {
  list-style: none;
  padding: 0;

  li {
    margin: 0;
  }
}

.prod {
  width: 280px;
}
.ordersCards {
  display: none;

  @include lm {
    display: flex;
    flex-wrap: wrap;
  }

  @include lm {
    justify-content: center;
  }

  &_card {
    border: 2px solid $text-color;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    width: 600px;

    p {
      margin-bottom: 5px;
    }

    &_marker {
      font-weight: bold;
    }

    &_order {
      border: 1px solid $text-color;
      border-radius: 15px;
      padding: 10px;
      margin-top: 10px;
    }
  }
}
