// Font Sizes
$main-font-size: 16px;

// Colors
$black: #000000;
$white: #ffffff;

$bg-main: #F7F3F0;
$bg-yellow: #FCD431;
$primary: #FF8F31;
$primary-hover: #e17d2a;
$secondary: #FFB931;

$text-color: #5A3733;

$admin-brown-color: #5A3733;
$admin-white-color: #FCF8F5;

#nprogress .spinner {
  display: none;
}
