.container {
  width: 90%;
  margin: 50px auto;
  overflow: auto;
  border-radius: 30px;
  padding: 20px 5px;
  .titleContainer {
    text-align: center;
    h3 {
      color: #5A3733;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 30px;
      font-weight: 700;
      line-height: 57.6px;
      letter-spacing: -0.9px;
      margin: 10px;
    }
    .return {
      color: #FF8F31;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 18px;
      font-weight: 400;
      line-height: 25.6px;
      letter-spacing: -0.9px;
      text-decoration-line: underline;
    }
  }
  .contentContainer {
    display: flex;
    justify-content: space-around;
    .nullOrder {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      font-size: 25px;
    }
    .table {
      width: 90%;
      margin: 50px 0;
      overflow: auto;
      border-radius: 30px;
      padding: 20px;
      border-collapse: collapse;
      th, td {
        padding: 0 15px;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      th {
        padding-bottom: 10px;
      }
      .productHead {
        text-align: start;
        padding-left: 30px;
      }

      .productInfo {
        display: flex;
        align-items: center;
        .img {
          max-width: 110px;
          vertical-align: middle;
          border-radius: 4px;
          margin-right: 37px;
        }
        .name {
          color:  #17183B;
          font-size: 20px;
          font-weight: 800;
          margin-bottom: 12px;
        }
        .delete {
          color: #E14B4B;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          padding-left: 31px;
          background: url("../assets/images/iconDeleteProduct.png") no-repeat center left;
          cursor: pointer;
          &:hover {
            color: #fda400;
            background-image: url("../assets/images/iconDeleteProductHover.png");
          }
          &:active {
            color: #f80000;
            background-image: url("../assets/images/iconDeleteProductActive.png");
          }
        }
      }
      .amount {
        display: flex;
        align-items: center;
        justify-content: end;
        border-radius: 4px;
        border: 1px solid #A2A3B1;
        background: #FFF;
        width: 124px;
        height: 40px;
        span {
          padding: 0 18px;
        }
        &_btn {
          border: none;
          background: inherit;
          margin: 0 13px;
          font-size: 26px;
          font-weight: 500;
        }
      }
      .price {
        color: #17183B;
        font-size: 16px;;
        font-weight: 400;
        line-height: 24px;
      }
      .cost {
        color: #17183B;
        text-align: right;
        font-size: 16px;
        font-weight: 800;
        line-height: 24px;
      }
    }
    .orderInfo {
      margin-top: 70px;
      padding: 32px;
      width: 380px;
      background: white;
      border-radius: 2px;
      border: 1px solid #D1D1D8;
      h4 {
        color: #17183B;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 32px;
      }
      .item {
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
      }
      .free {
        color: #FF8F31;
      }
      .total {
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #D1D1D8;
        color: #17183B;
        font-weight: 700;
        line-height: 24px;
        span {
          font-size: 18px;
          text-transform: uppercase;
        }
        &_price {
          color: orange;
        }
      }
      .orderConfirm {
        width: 100%;
        display: block;
        border: none;
        border-radius: 4px;
        background: #FF8F31;
        padding: 18px 10px;
        text-align: center;
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.1px;
        &:hover {
          background: #c75a00;
        }
        &:active {
          background: red;
        }
      }
    }
  }

}



