@keyframes stretch {
  0% {
    transform: scale(0.5);
    background-color: white;
  }
  50% {
    background-color: white;
  }
  100% {
    transform: scale(1);
    background-color: white;
  }
}

@mixin dot-animation {
  animation: {
    direction: alternate;
    duration: 0.5s;
    fill-mode: none;
    iteration-count: infinite;
    name: stretch;
    play-state: running;
    timing-function: ease-out;
  }
  border-radius: 100%;
  display: block;
  height: 10px;
  margin: 0 1px;
  width: 10px;
}

.btnLoading {
  .sp {
    display: flex;

    .b {
      @include dot-animation;
      animation-delay: 0.1s;
      margin: 0 5px;

      &:first-child {
        animation-delay: 0s;
        margin: 0;
      }

      &:last-child {
        animation-delay: 0.2s;
        margin: 0;
      }
    }
  }
}

.b {
  font-weight: normal;
}

.sp {
  display: none;
}
