.wrap {
  color: rgba(5, 5, 5, 0.8);
  font-size: 100%;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.button {
  font-weight: 300;
  color: #000000;
  font-size: 1.2em;
  text-decoration: none;
  border: 1px solid #000000;
  padding: 0.5em;
  border-radius: 3px;
  float: left;
  margin: 6em 0 0 -155px;
  left: 50%;
  position: relative;
  transition: all 0.3s linear;
}

.button:hover {
  background-color: rgba(255, 99, 0, 0.8);
  color: #fff;
  border: rgba(255, 99, 0, 0.8) 1px solid;
}

.notFoundSub {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

.notFoundTitle {
  text-align: center;
  font-size: 15em;
  font-weight: 100;
}
