.container {
  .title {
    text-align: center;
    width: 100%;
    padding-bottom: 31px;
    border-bottom: 1px solid #D1D1D8;
    margin-bottom: 32px;
    h3 {
      color: #5A3733;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      line-height: 57.6px;
      letter-spacing: -0.9px;
      margin: 10px;
    }
    .return {
      color: #FF8F31;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 25.6px;
      letter-spacing: -0.9px;
      text-decoration-line: underline;
    }
  }
  .order {
    display: flex;
    align-items: start;
    &_leftBlock {
      max-width: 720px;
      flex-grow: 1;
      margin-right: 47px;
      &_item {
        border-radius: 4px;
        border: 1px solid #6C7275;
        width: 100%;
        margin-bottom: 31px;
        padding: 40px 24px;
        h4 {
          color: #000;
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
        }
        input {
          width: 85%;
          border-radius: 6px;
          border: 1px solid #6C7275;
          background: #FFF;
          padding: 10px 16px;
          margin-top: 12px;
          &::placeholder {
            color: #6C7275;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
          }
        }
        span {
          color:  #6C7275;
          font-size: 12px;
          font-weight: 700;
          line-height: 12px;
          text-transform: uppercase;
        }
        .addressTitle {
          display: inline-block;
          margin-top: 24px;
        }
        .clientInfo {
          margin: 15px 0;
          flex-grow: 1;
          span {
            color: #000;
            font-size: 16px;
            font-weight: 700;
            line-height: 12px;
            text-transform: uppercase;
          }
          .name {
            color: #6C7275;
            margin-right: 13px;
          }
        }
        .btnBuy {
          width: 35%;
          border: none;
          display: block;
          border-radius: 4px;
          background: #FF8F31;
          padding: 18px 10px;
          text-align: center;
          color: #FFF;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.1px;
          margin-left:80px;
          &:hover {
            background: #c75a00;
          }
          &:active {
            background: red;
          }
        }
        .choice {
          display: flex;
          flex-direction: column;
          strong {
            position: relative;
            padding-left: 27px;
            text-align: start;
            display: inline-block;
            background: inherit;
            cursor: pointer;
            color: #000;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            margin: 13px 0;
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 3px;
              width: 20px;
              height: 20px;
              background: center no-repeat;
            }
          }
          .selected {
            &::before {
              background-image: url("../assets/images/select-icon1.svg");
            }
          }
          .notSelected {
            &::before {
              background-image: url("../assets/images/select-icon2.svg");
            }
          }
        }
      }
      .client {
        display: flex;
        align-items: center;
      }
    }
    &_info {
      background: white;
      padding: 32px;
      width: 380px;
      border: 1px solid #D1D1D8;
      border-radius: 2px;
      h4 {
        margin-bottom: 32px;
        font-size: 24px;
        color: #17193B;
        line-height: 32px;
        font-weight: 700;
      }
      .item {
        margin-bottom: 31px;
        display: flex;
        justify-content: space-between;
      }
      .free {
        color: #fd8c2f;
      }
      .total {
        display: flex;
        padding: 31px 0;
        justify-content: space-between;
        border-top: 1px solid #D1D1D8;
        color: #17183B;
        font-weight: 700;
        line-height: 24px;
        span {
          font-size: 18px;
          text-transform: uppercase;
        }
        &_price {
          color: orange;
        }
      }
      .orderItem {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #D1D1D8;
        margin-bottom: 21px;
        .img {
          width: 50px;
        }
        span {
          font-size: 13px;
        }
        &_title {
          width: 104px;
          color: #17183B;
          font-weight: 500;
          margin: 0 17px 0 28px;
        }
        &_price {
          margin-left: auto;
          color:#17183B;
          font-weight: 600;
          line-height: 24px;
        }
      }

    }
  }
}
